spring:
  application:
    name: crud
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
jwt:
  secret: your-super-secret-key-that-is-long-enough
  expiration: 60000 # 1 minute
